<html>
<head>
<title>display.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
.s5 { color: rgb(128,128,128); font-style: italic; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
display.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<a name="l1"><span class="ln">1    </span></a><span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
<a name="l2"><span class="ln">2    </span></a>&lt;</span><span class="s4">GridLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
<a name="l3"><span class="ln">3    </span></a>    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
<a name="l4"><span class="ln">4    </span></a>    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
<a name="l5"><span class="ln">5    </span></a>    </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
<a name="l6"><span class="ln">6    </span></a> 
<a name="l7"><span class="ln">7    </span></a>    </span><span class="s1">android:weightSum=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
<a name="l8"><span class="ln">8    </span></a>    </span><span class="s1">android:columnCount=</span><span class="s3">&quot;2&quot;</span><span class="s2"> 
<a name="l9"><span class="ln">9    </span></a>    </span><span class="s1">android:rowCount=</span><span class="s3">&quot;2&quot;</span><span class="s2">&gt; 
<a name="l10"><span class="ln">10   </span></a> 
<a name="l11"><span class="ln">11   </span></a>    &lt;</span><span class="s4">Button</span><span class="s2"> 
<a name="l12"><span class="ln">12   </span></a>        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
<a name="l13"><span class="ln">13   </span></a>        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
<a name="l14"><span class="ln">14   </span></a>        </span><span class="s1">android:text=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
<a name="l15"><span class="ln">15   </span></a>        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button19&quot;</span><span class="s2"> 
<a name="l16"><span class="ln">16   </span></a>        </span><span class="s1">android:useDefaultMargins=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
<a name="l17"><span class="ln">17   </span></a>        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;fill_horizontal&quot;</span><span class="s2"> 
<a name="l18"><span class="ln">18   </span></a>        /&gt; 
<a name="l19"><span class="ln">19   </span></a>        </span><span class="s5">&lt;!--android:background=&quot;hash*efd*fde*def*dfe&quot;--&gt;</span><span class="s2"> 
<a name="l20"><span class="ln">20   </span></a> 
<a name="l21"><span class="ln">21   </span></a> 
<a name="l22"><span class="ln">22   </span></a>    &lt;</span><span class="s4">Button</span><span class="s2"> 
<a name="l23"><span class="ln">23   </span></a>        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
<a name="l24"><span class="ln">24   </span></a>        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
<a name="l25"><span class="ln">25   </span></a>        </span><span class="s1">android:text=</span><span class="s3">&quot;22&quot;</span><span class="s2"> 
<a name="l26"><span class="ln">26   </span></a>        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button21&quot;</span><span class="s2"> 
<a name="l27"><span class="ln">27   </span></a>        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;fill_horizontal&quot; </span><span class="s2">/&gt; 
<a name="l28"><span class="ln">28   </span></a> 
<a name="l29"><span class="ln">29   </span></a>    </span><span class="s5">&lt;!--To leave an empty space--&gt;</span><span class="s2"> 
<a name="l30"><span class="ln">30   </span></a> 
<a name="l31"><span class="ln">31   </span></a>    &lt;</span><span class="s4">Button</span><span class="s2"> 
<a name="l32"><span class="ln">32   </span></a>        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
<a name="l33"><span class="ln">33   </span></a>        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
<a name="l34"><span class="ln">34   </span></a>        </span><span class="s1">android:text=</span><span class="s3">&quot;9&quot;</span><span class="s2"> 
<a name="l35"><span class="ln">35   </span></a>        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button3&quot;</span><span class="s2"> 
<a name="l36"><span class="ln">36   </span></a>        </span><span class="s1">android:layout_gravity=</span><span class="s3">&quot;fill_horizontal&quot;</span><span class="s2"> 
<a name="l37"><span class="ln">37   </span></a>        </span><span class="s1">android:useDefaultMargins=</span><span class="s3">&quot;true&quot; </span><span class="s2">/&gt; 
<a name="l38"><span class="ln">38   </span></a> 
<a name="l39"><span class="ln">39   </span></a> 
<a name="l40"><span class="ln">40   </span></a> 
<a name="l41"><span class="ln">41   </span></a>&lt;/</span><span class="s4">GridLayout</span><span class="s2">&gt; 
<a name="l42"><span class="ln">42   </span></a> 
<a name="l43"><span class="ln">43   </span></a></span></pre>
</body>
</html>